client
<% if @fqdn =~ /^oscp-/ -%>
dev tun1
<% else -%>
dev tun
<% end -%>
proto udp
remote vpn.gnome.org 1194
resolv-retry infinite
nobind
user openvpn
group openvpn
persist-key
persist-tun
ca /etc/openvpn/keys/ca.crt
cert /etc/openvpn/keys/non-phx2-machines-<%= @hostname %>.crt
key /etc/openvpn/keys/non-phx2-machines-<%= @hostname %>.key
remote-cert-tls server
tls-auth /etc/openvpn/keys/ta.key 1
log-append /var/log/openvpn.log
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384
cipher AES-256-CBC
auth sha384
tls-version-min 1.2
verb 2
