/var/log/apache-error.log {
        daily
        missingok
        rotate 30
        compress
        delaycompress
        notifempty
        create 640 <%= @logrotate_user %> <%= @logrotate_group %>
        sharedscripts
        su root root
        postrotate
                /etc/init.d/apache2 reload > /dev/null
        endscript
        prerotate
                if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
                        run-parts /etc/logrotate.d/httpd-prerotate; \
                fi; \
        endscript
}
