# NOTE: Please double-check any change you are going to do on
#       the following file, any faulty change may lock you out
#	from several machines.
#
#	This file is managed through Puppet, please don't modify
#	it by hand. Make sure to understand how the syntax for adding
#	new iptables rules work.

*nat
:PREROUTING ACCEPT []
:POSTROUTING ACCEPT []
:OUTPUT ACCEPT []
<% nat.each do |nat_rule| -%>
<%= nat_rule %>
<% end -%>
COMMIT
*raw
:PREROUTING ACCEPT []
:OUTPUT ACCEPT []
<% raw.each do |raw_rule| -%>
<%= raw_rule %>
<% end -%>
COMMIT
*filter
:INPUT DROP []
:FORWARD ACCEPT []
:OUTPUT ACCEPT []
:ABUSERS - []

# loopback allowed
-A INPUT -i lo -j ACCEPT

# Accept all the packets coming from our internal network interface, defaults to eth1
<% @intNics.each do |interface| -%>
-A INPUT -i <%= interface %> -j ACCEPT
<% end -%>

# Established connections allowed
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

# Now let's check for any abusers (list-abusers)
# We can check if a user is filtered by this because ping will say "packet filtered"
-A INPUT -m state --state NEW -j ABUSERS

# Accept ping and traceroute (not from ABUSERS though, so we can diagnose)
-A INPUT -p icmp -j ACCEPT

# Allow SSH
-A INPUT -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT

# Allow Check_MK and NRPE (only from signal.gnome.org)
-A INPUT -s 140.211.167.18 -m state --state NEW -m tcp -p tcp --dport 5666 -j ACCEPT
-A INPUT -s 10.8.0.2 -m state --state NEW -m tcp -p tcp --dport 5666 -j ACCEPT
-A INPUT -s 10.8.0.2 -m state --state NEW -m tcp -p tcp --dport 9100 -j ACCEPT

# Overwrite any global rules
<% precustom.each do |precust| -%>
<%= precust %>
<% end -%>

# Custom Services
<% custom.each do |cust| -%>
<%= cust %>
<% end -%>

# Services TCP
<% tcpPorts.each do |port| -%>
-A INPUT -p tcp -m tcp --dport <%= port %> -j ACCEPT
<% end -%>

# Services UDP
<% udpPorts.each do |port| -%>
-A INPUT -p udp -m udp --dport <%= port %> -j ACCEPT
<% end -%>

-A INPUT -j REJECT --reject-with icmp-host-prohibited

# And now let's add some whitelisted entries for the ABUSERS table
# Basically, we return to the original INPUT chain, so we keep handling those

# Bastien Nocera
-A ABUSERS -s 83.155.44.161 -j RETURN
# Alexander Franke
-A ABUSERS -s 83.155.10.201 -j RETURN
# Intel London
-A ABUSERS -s 83.217.123.106 -j RETURN
# Red Hat's IP range
-A ABUSERS -s 209.132.176.0/20 -j RETURN
# Samsung Korea
-A ABUSERS -s 210.94.41.89 -j RETURN
# Red Hat Westford
-A ABUSERS -s 66.187.233.0/24 -j RETURN
# Botnets making an insane amount of requests
-A ABUSERS -s 2.234.126.233/32 -j REJECT
-A ABUSERS -s 192.99.7.203/32 -j REJECT
-A ABUSERS -s 67.44.192.128/32 -j REJECT
# GUADEC 2016 NAT
-A ABUSERS -s 141.52.249.2 -j RETURN
# SUSE Office
-A ABUSERS -s 45.122.156.254 -j RETURN
COMMIT
