# NOTE: Please double-check any change you are going to do on
#       the following file, any faulty change may lock you out
#	from several machines.
#
#	This file is managed through Puppet, please don't modify
#	it by hand. Make sure to understand how the syntax for adding
#	new iptables rules work.

*nat
:PREROUTING ACCEPT []
:POSTROUTING ACCEPT []
:OUTPUT ACCEPT []
COMMIT
*raw
:PREROUTING ACCEPT []
:OUTPUT ACCEPT []
<% raw.each do |raw_rule| -%>
<%= raw_rule %>
<% end -%>
COMMIT
*filter
:INPUT DROP []
:FORWARD ACCEPT []
:OUTPUT ACCEPT []
:ABUSERS - []

-A INPUT -i lo -j ACCEPT
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -m state --state NEW -j ABUSERS
-A INPUT -p ipv6-icmp -j ACCEPT

-A INPUT -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT

<% precustom.each do |precust| -%>
<%= precust %>
<% end -%>

<% custom.each do |cust| -%>
<%= cust %>
<% end -%>

<% tcpPorts.each do |port| -%>
-A INPUT -p tcp -m tcp --dport <%= port %> -j ACCEPT
<% end -%>

<% udpPorts.each do |port| -%>
-A INPUT -p udp -m udp --dport <%= port %> -j ACCEPT
<% end -%>

-A INPUT -j REJECT --reject-with icmp6-adm-prohibited
-A FORWARD -j REJECT --reject-with icmp6-adm-prohibited
COMMIT
