uris = <%= @ldap_hosts %>
auth_bind = yes
auth_bind_userdn = <%= @ldap_auth_bind_userdn %>
ldap_version = 3
base = <%= @ldap_base %>
deref = never
scope = subtree
tls_ca_cert_file = <%= @ldap_tls_ca_cert_file %>

user_attrs = <%= @ldap_user_attrs %>
user_filter = <%= @ldap_user_filter %>

pass_attrs = <%= @ldap_pass_attrs %>
pass_filter = <%= @ldap_pass_filter %>

iterate_attrs = <%= @ldap_iterate_attrs %>
iterate_filter = <%= @ldap_iterate_filter %>
