################################################################################
# NOTIFICATION COMMANDS
################################################################################

# 'notify-host-by-email' command definition
define command {
    command_name    notify-host-by-email
    command_line    /usr/bin/printf "%b" "***** Nagios *****\n\nNotification Type: $NOTIFICATIONTYPE$\nHost: $HOSTNAME$\nState: $HOSTSTATE$\nAddress: $HOSTADDRESS$\nInfo: $HOSTOUTPUT$\n\nDate/Time: $LONGDATETIME$\n" | /bin/mail -r nagios@gnome.org -s "** $NOTIFICATIONTYPE$ Host Alert: $HOSTNAME$ is $HOSTSTATE$ **" $CONTACTEMAIL$
}

# 'notify-service-by-email' command definition
define command {
    command_name    notify-service-by-email
    command_line    /usr/bin/printf "%b" "***** Nagios *****\n\nNotification Type: $NOTIFICATIONTYPE$\n\nService: $SERVICEDESC$\nHost: $HOSTALIAS$\nAddress: $HOSTADDRESS$\nState: $SERVICESTATE$\n\nDate/Time: $LONGDATETIME$\n\nAdditional Info:\n\n$SERVICEOUTPUT$" | /bin/mail -r nagios@gnome.org -s "** $NOTIFICATIONTYPE$ Service Alert: $HOSTALIAS$/$SERVICEDESC$ is $SERVICESTATE$ **" $CONTACTEMAIL$
}

################################################################################
# PERFORMANCE DATA COMMANDS
################################################################################

# PNP4NAGIOS
define command{
       command_name    process-service-perfdata-file
       command_line    /usr/libexec/pnp4nagios/process_perfdata.pl --datatype=SERVICEPERFDATA --timeout=30 --bulk=/etc/nagios/pnp4nagios/service-perfdata
}

define command{
       command_name    process-host-perfdata-file
       command_line    /usr/libexec/pnp4nagios/process_perfdata.pl --datatype=HOSTPERFDATA --timeout=30 --bulk=/etc/nagios/pnp4nagios/host-perfdata
}


###################
# CUSTOM COMMANDS #
###################

define command {
    command_name    check_site
    command_line    $USER1$/check_http -f follow -t 30 -H $ARG1$ -s $ARG2$
}

define command {
    command_name    check_site_with_uri
    command_line    $USER1$/check_http -f follow -t 30 -H $ARG1$ -u $ARG2$ -s $ARG3$
}

define command {
    command_name    check_ssl_site
    command_line    $USER1$/check_http -f follow -t 15 -S -H $ARG1$ -s $ARG2$
}

define command {
    command_name    check_ssl_cert
    command_line    $USER1$/check_http --sni -t 15 -H $ARG1$ -C $ARG2$,$ARG3$
}

define command{
    command_name    check_gnome_dns
    command_line    $USER1$/check_dns -H $ARG1$ -s $ARG2$ 
}

define command{
    command_name    check_proxy
    command_line    $USER1$/check_proxy -p 172.31.2.28 -l 3128 -u http://www.google.com -e 200
}

define command {
    command_name    check_dns_rrsig
    command_line    $USER1$/check_rrsig -n '$ARG1$' -z '$ARG2$' -w '$ARG3$'
}

define command{
    command_name    nrpe
    command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -p 5666 -t $ARG1$ -c $ARG2$
}


define command {
    command_name    check_gitlab_runner_builds
    command_line    $USER1$/check_gitlab_runner $ARG1$
}

define command {
    command_name    check_gitlab_runner_state
    command_line    $USER1$/check_gitlab_runner -o $ARG1$
}

# 'notify-by-ircbot' command definition
define command{
    command_name    notify-by-ircbot
    command_line    /usr/bin/printf "%b" "#sysadmin $NOTIFICATIONTYPE$ - $HOSTALIAS$/$SERVICEDESC$ is $SERVICESTATE$: $SERVICEOUTPUT$ ($$(hostname -s))" | /usr/local/bin/irc-colorize.py | nc -w 1 localhost 5050
    }

# 'host-notify-by-ircbot' command definition
define command{
	command_name	host-notify-by-ircbot
	command_line	/usr/bin/printf "%b" "#sysadmin $NOTIFICATIONTYPE$ - $HOSTALIAS$ is $HOSTSTATE$: $HOSTOUTPUT$ ($$(hostname -s))" | /usr/local/bin/irc-colorize.py | nc -w 1 localhost 5050
	}

# Cisco IMC command definition
define command{
        command_name    cisco_imc_nagios
        command_line    PYTHONHTTPSVERIFY=0 $USER1$/cisco_imc_nagios -u "nagios" -p "<%= @cisco_imc_nagios_password %>" --proxy http://bastion.gnome.org:3128 -H $_HOSTIMC_IP$ -t class -q ComputeRackUnit --inHierarchical -F --useSharedSession --port 443 
        }

# Check SSL Certificate expiration for non-HTTP services
define command{
        command_name    check_ssl_non_http_service
        command_line    $USER1$/check_tcp -H $ARG1$ -S -p $ARG2$ -D $ARG3$,$ARG4$
        }
