echo 'proxy=http://bastion.gnome.org:3128' >> /etc/yum.conf
sed -i 's/proxy_hostname =/proxy_hostname = bastion.gnome.org/g' /etc/rhsm/rhsm.conf
sed -i 's/proxy_port =/proxy_port = 3128/g' /etc/rhsm/rhsm.conf

cat <<EOF > /etc/yum.repos.d/gnome.repo
[gnome]
name=Local GNOME packages for Enterprise Linux 7 - $basearch
baseurl=http://scale.gnome.org/cobbler/repo_mirror/gnome-el7-x86_64
enabled=1
gpgcheck=0
metadata_expire=5m

[gnome-noarch]
name=Local GNOME packages for Enterprise Linux 7 - noarch
baseurl=http://scale.gnome.org/cobbler/repo_mirror/gnome-el7-noarch
enabled=1
gpgcheck=0
metadata_expire=5m
EOF

/usr/sbin/subscription-manager register --username=gnome.org --password=<%= @rhn_password %> 
/usr/sbin/subscription-manager attach --auto
/usr/sbin/subscription-manager attach --pool=<%= @rhgs_pool_id %>
/usr/sbin/subscription-manager repos --enable=rhel-7-server-optional-rpms
/usr/sbin/subscription-manager repos --enable=rh-gluster-3-for-rhel-7-server-rpms
/usr/bin/yum update -y
/usr/bin/yum install epel-release -y
