# Mirrorbrain setup
# for prefork, this configuration is inactive. prefork simply uses 1
# connection per child.
<IfModule !prefork.c>
        DBDMin  0
        DBDMax  32
        DBDKeep 4
        DBDExptime 10
</IfModule>

DBDriver pgsql
DBDParams "host=localhost user=mirrorbrain password=<%= @mirrorbrain_db_password %> dbname=mirrorbrain connect_timeout=15"

LoadModule form_module modules/mod_form.so
LoadModule mirrorbrain_module modules/mod_mirrorbrain.so
LoadModule autoindex_mb_module modules/mod_autoindex_mb.so

<VirtualHost *:80>
  ServerName download.gnome.org 

  RewriteEngine on
  RewriteCond %{HTTPS} !=on
  RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [NE,R,L]
</VirtualHost>

<VirtualHost *:443>
    ServerName download.gnome.org
    DocumentRoot /srv/ftp/pub/GNOME

    SSLEngine on
    SSLCertificateFile /etc/pki/tls/certs/gnome.org.crt
    SSLCertificateKeyFile /etc/pki/tls/private/gnome.org.key
    SSLCertificateChainFile /etc/pki/tls/letsencrypt.intermediate.ca.pem

    Header add Strict-Transport-Security: "max-age=15768000;includeSubdomains"
    SSLCompression Off

    CustomLog  "|/usr/bin/logger -p local4.info -t apache"  combined
    ErrorLog   syslog:local5

    MirrorBrainMirrorlistStylesheet "https://static.gnome.org/css/mirrorbrain.css"
    IndexStyleSheet "https://static.gnome.org/css/mirrorbrain.css"
    MirrorBrainMetalinkPublisher "GNOME" https://download.gnome.org
    MirrorBrainMinSize 4096

    RedirectMatch /icons/(.*)$ https://static.gnome.org/img/mirrorbrain/$1
    AddIcon /icons/folder.png ^^DIRECTORY^^
    AddIcon /icons/folder.png core
    AddIcon (IMG,/icons/compressed.png) .tar.gz .tar.xz .tar.bz2 
    AddIcon (IMG,/icons/back.png) ..
    AddIcon (IMG,/icons/blank.gif) ^^BLANKICON^^
    AddIcon (IMG,/icons/image-generic.png) .png

    DefaultIcon /icons/unknown.png
    AddIconByType (TXT,/icons/text.png) text/*

    <Directory /srv/ftp/pub/GNOME>
        IndexOptions +Metalink +Mirrorlist +SuppressDescription
        MirrorBrainEngine On
        MirrorBrainDebug Off
        FormGET On
        MirrorBrainHandleHEADRequestLocally Off
        MirrorBrainMinSize 2048
        MirrorBrainExcludeUserAgent rpm/4.4.2*
        MirrorBrainExcludeUserAgent *APT-HTTP*
        MirrorBrainExcludeMimeType application/pgp-keys
        MirrorBrainMinSize 4096
        MirrorBrainExcludeFileMask "(NEWS|\.(md5|sha256sum|news|json))$"
        Options FollowSymLinks Indexes
        AllowOverride None
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>

<LocationMatch "^/.well-known/acme-challenge">
  RedirectMatch ^(.*) https://letsencrypt.gnome.org$1
</LocationMatch>
