{
  "api": {
    "url": "https://status.gnome.org/api/v1",
    "token": "<%= @token %>",
    "insecure": false
  },
  "date_format": "Monday, 02-Jan-06 15:04:05 MST",
  "monitors": [
    {
      "name": "wiki.gnome.org: HTTP response",
      "type": "https",
      "target": "wiki.gnome.org",
      "strict": "true",
      "component_id": 1,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*Welcome to the GNOME Wiki!.*"
    },
    {
      "name": "extensions.gnome.org: HTTP response",
      "type": "https",
      "target": "extensions.gnome.org",
      "strict": "true",
      "component_id": 6,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*GNOME Shell Extensions.*"
    },
    {
      "name": "gnome.org: HTTP response",
      "type": "https",
      "target": "gnome.org",
      "strict": "true",
      "component_id": 7,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*GNOME.*"
    },
    {
      "name": "l10n.gnome.org: HTTP response",
      "type": "https",
      "target": "l10n.gnome.org",
      "strict": "true",
      "component_id": 8,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*Damned Lies.*"
    },
    {
      "name": "blogs.gnome.org: HTTP response",
      "type": "https",
      "target": "blogs.gnome.org",
      "strict": "true",
      "component_id": 10,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*GNOME.*"
    },
    {
      "name": "cloud.gnome.org: HTTP response",
      "type": "https",
      "target": "cloud.gnome.org",
      "strict": "true",
      "component_id": 14,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*a safe home for all your data.*"
    },
    {
      "name": "etherpad.gnome.org: HTTP response",
      "type": "https",
      "target": "etherpad.gnome.org",
      "strict": "true",
      "component_id": 18,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*Etherpad.*"
    },
    {
      "name": "surveys.gnome.org: HTTP response",
      "type": "https",
      "target": "surveys.gnome.org",
      "strict": "true",
      "component_id": 29,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*GNOME Surveys.*"
    },
    {
      "name": "idm01.gnome.org: HTTP response",
      "type": "https",
      "target": "idm01.gnome.org",
      "strict": "true",
      "component_id": 23,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*Identity Management.*"
    },
    {
      "name": "idm02.gnome.org: HTTP response",
      "type": "https",
      "target": "idm02.gnome.org",
      "strict": "true",
      "component_id": 23,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*Identity Management.*"
    },
    {
      "name": "gitlab.gnome.org: HTTP response",
      "type": "https",
      "target": "gitlab.gnome.org",
      "strict": "true",
      "component_id": 5,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*Explore GitLab.*"
    },
    {
      "name": "help.gnome.org: HTTP response",
      "type": "https",
      "target": "help.gnome.org",
      "strict": "true",
      "component_id": 17,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*GNOME is a large and complex system.*"
    },
    {
      "name": "download.gnome.org: HTTP response",
      "type": "https",
      "target": "download.gnome.org",
      "strict": "true",
      "component_id": 21,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*Index of.*"
    },
    {
      "name": "developer.gnome.org: HTTP response",
      "type": "https",
      "target": "developer.gnome.org",
      "strict": "true",
      "component_id": 22,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*GNOME.*"
    },
    {
      "name": "mail.gnome.org: HTTP response",
      "type": "https",
      "target": "mail.gnome.org",
      "strict": "true",
      "component_id": 9,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*GNOME Mail Services.*"
    },
    {
      "name": "discourse.gnome.org: HTTP response",
      "type": "https",
      "target": "discourse.gnome.org",
      "strict": "true",
      "component_id": 15,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*GNOME Discourse.*"
    },
    {
      "name": "SMTP",
      "target": "smtp.gnome.org",
      "type": "tcp",
      "port": "25",
      "component_id": 9
    },
    {
      "name": "staff-mail IMAP",
      "target": "staff-mail.gnome.org",
      "component_id": 9,
      "type": "tcp",
      "port": "993"
    },
    {
      "name": "staff-mail SMTP",
      "target": "staff-mail.gnome.org",
      "component_id": 9,
      "type": "tcp",
      "port": "587"
    },
    {
      "name": "IRC",
      "target": "irc.gnome.org",
      "component_id": 11,
      "type": "tcp",
      "port": "6697"
    },
    {
      "name": "DNS ns-master",
      "type": "dns",
      "target": "gnome.org.",
      "question": "a",
      "component_id": 3,
      "interval": 60,
      "timeout": 30,
      "dns": "ns-master.gnome.org:53",
      "answers": [
        {
          "exact": "8.43.85.3"
        },
        {
          "exact": "8.43.85.4"
        },
        {
          "exact": "8.43.85.5"
        }

      ]
    },
    {
      "name": "DNS ns-slave",
      "type": "dns",
      "target": "gnome.org.",
      "question": "a",
      "component_id": 3,
      "interval": 60,
      "timeout": 30,
      "dns": "ns-slave.gnome.org:53",
      "answers": [
        {
          "exact": "8.43.85.3"
        },
        {
          "exact": "8.43.85.4"
        },
        {
          "exact": "8.43.85.5"
        }
      ]
    },
    {
      "name": "DNS axu.tm",
      "type": "dns",
      "target": "gnome.org.",
      "question": "a",
      "component_id": 3,
      "interval": 60,
      "timeout": 30,
      "dns": "ns.axu.tm:53",
      "answers": [
        {
          "exact": "8.43.85.3"
        },
        {
          "exact": "8.43.85.4"
        },
        {
          "exact": "8.43.85.5"
        }
      ]
    },
    {
      "name": "meet.gnome.org: HTTP response",
      "type": "https",
      "target": "meet.gnome.org",
      "strict": "true",
      "component_id": 40,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*Powered by.*"
    },
    {
      "name": "nightly.gnome.org flat-manager: HTTP response",
      "type": "https",
      "target": "nightly.gnome.org/status",
      "strict": "true",
      "component_id": 41,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*flat-manager version.*"
    },
    {
      "name": "nightly.gnome.org: HTTP response",
      "type": "https",
      "target": "nightly.gnome.org/gnome-nightly.flatpakrepo",
      "strict": "true",
      "component_id": 42,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*Flatpak Repo.*"
    },
    {
      "name": "shop.gnome.org: HTTP response",
      "type": "https",
      "target": "shop.gnome.org",
      "strict": "true",
      "component_id": 43,
      "interval": 60,
      "timeout": 30,
      "expected_status_code": 200,
      "expected_body": ".*Items.*"
    }
  ]
}
