[Unit]
Description=Cachet status page
After=network.target mysql.service postgresql.service

[Service]
Type=simple
TimeoutStartSec=5m
ExecStart=/usr/bin/docker run --name cachet --net host --rm --env-file /etc/cachet.conf registry.gitlab.gnome.org/infrastructure/docker/cachet:<%= @image_version %>
ExecReload=-/usr/bin/docker restart cachet
ExecStop=-/usr/bin/docker stop cachet
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
