APP_URL=<%= @app_url %>
APP_KEY=<%= @app_key %>

DB_DRIVER=<%= @db_driver %>
DB_HOST=<%= @db_host %>
DB_DATABASE=<%= @db_name %>
DB_USERNAME=<%= @db_username %>
DB_PASSWORD=<%= @db_password %>
DB_PORT=<%= @db_port %>
