[Unit]
Description=Monitoring service for Cachet
After=network.target cachet.service

[Service]
Type=simple
TimeoutStartSec=5m
ExecStart=/usr/bin/docker run --name cachet-monitor --dns 8.8.8.8 --dns 8.8.4.4 --rm -v /etc/cachet-monitor.conf:/etc/config.json registry.gitlab.gnome.org/infrastructure/docker/cachet-monitor:<%= @image_version %> -c /etc/config.json
ExecReload=-/usr/bin/docker restart cachet-monitor
ExecStop=-/usr/bin/docker stop cachet-monitor
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
