<%
@warning_one_min_load_avg = @processorcount.to_i
@critical_one_min_load_avg = @processorcount.to_i + 1
-%>




command[check_load]=/usr/<%= @libdir %>/nagios/plugins/check_load -w <%= @warning_one_min_load_avg %> -c <%= @critical_one_min_load_avg %>
command[ntpd]=/usr/<%= @libdir %>/nagios/plugins/check_procs -c 1:4 -a 'ntpd'
command[swap_usage]=/usr/<%= @libdir %>/nagios/plugins/check_swap -w 60% -c 30% -n ok
command[check_inodes]=/usr/<%= @libdir %>/nagios/plugins/check_disk -W 20% -K 10%
command[check_vpn]=/usr/<%= @libdir %>/nagios/plugins/check_openvpn 8.43.85.27 172.31.2.54 20
command[check_mysqld]=/usr/<%= @libdir %>/nagios/plugins/check_mysql -s /var/run/mysqld/mysqld.sock
command[check_mail_queue]=/usr/<%= @libdir %>/nagios/plugins/check_mailq -w 10 -c 100
command[check_mysqld]=/usr/<%= @libdir %>/nagios/plugins/check_mysql -H localhost -u nagios -p nagiosuser
command[service_puppet]=/usr/<%= @libdir %>/nagios/plugins/check_procs -c 1:4 -a 'puppet agent'
